<div class="library_errors"></div>
<div class="add_pdf">
  <h2>Add a new PDF:</h2>
  <%= form_for :source, :html => {class: "addSourceUrl"}, remote: true do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_field :url, placeholder: "URL" %>
    <%= f.submit :id => 'save_source_button' %>
  <% end %>
</div>

<div class="show_pdf_library">
  <h2>Your Library:</h2>

  <ul class="list_of_sources">
    <% @sources.each do |source| %>
    <li>
      <%= image_tag("placeholder-cover.png", alt: "placeholder PDF cover") %>
      <%= link_to source.title, source %></li>

    <% end %>
  </ul>
</div>



