<div class="findbar-snippet doorHanger hidden hiddenSmallView" id="findbar">
  <%= form_for @snippet, remote: true do |f| %>
    <%= f.label :topic %>
    <%= f.collection_select(:topic_id, @sorted_topics, :id, :name, :prompt => "Select a topic") %>
    <%= f.hidden_field :content, value: "test" %>
    <%= f.submit "Save" %>
  <% end %>
</div>