<div>Beauty is the essence of water.</div>

<div>And water is the essence of beauty.</div>

<div class="topic-list">
<% @topics.all.each do |topic|%>
  <div class="topic-name">
    <%= topic.name %>
  </div>
<% end %>
</div>

<div class="topic-errors">
  <% if session['errors'] %>
    <% session['errors'].each do |error| %>
    <%= error %>
    <% end %>
  <%end %>
</div>

<%= form_for @topic, url: topics_path, method: 'POST' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create Topic" %>
<% end %>