<div>Beauty is the essence of water.</div>

<div>And water is the essence of beauty.</div>

<div class="topic-list">
<% @topics.all.each do |topic|%>
  <div class="topic-name" id="topic-<%=topic.id%>">
    <%= topic.name %>
  </div>
<% end %>
</div>

<div id='flash'>
  <% flash.each do |key, value| -%>
    <div id='flash_<%= key %>'><%=h value[0] %></div>
  <% end %>
</div>

<%= form_for @topic, url: topics_path, method: 'POST' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create Topic" %>
<% end %>