<div>Beauty is the essence of wetness.</div>

<div>And wetness is the essence of beauty.</div>

<div class="topic-list">
<% @topics.all.each do |topic|%>
  <div class="topic-name" id="topic-<%=topic.id%>">
    <%= link_to topic.name, topic_path(topic)%>
    <%= button_to "Delete", { action: :destroy, id: topic.id }, { :class => 'delete-button', method: :delete } %>
  </div>
<% end %>
</div>

<div id='flash'>
  <% flash.each do |key, value| -%>
    <div id='flash_<%= key %>'><%=h value[0] %></div>
  <% end %>
</div>

<div class="new-topic-form">
<%= form_for @topic, url: topics_path, method: 'POST' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create Topic" %>
<% end %>
</div>