<div>Beauty is the essence of wetness.</div>

<div>And wetness is the essence of beauty.</div>

<div class="topic-list">
  <button id="add-new-topic"><i class="fa fa-plus-square-o" ></i>Add new</button>
  <div class="new-topic-form"> <%= render "new_topic_form" %> </div>

  <% @topics.all.each do |topic|%>
    <%= render 'topic', topic: topic %>
  <% end %>


  <div class="unaffiliated">

    <% if @unaffiliated.length > 0 %>
      <h1>Unclassified snippets:</h1>
    <% end %>

    <% @unaffiliated.each do |snippet| %>
      <div class='snippet'>
        <%= snippet.content %>
        <%= button_to 'Delete', snippet_path(snippet), {:class => 'delete-button', method: 'delete'} %>
      </div>
    <% end %>
  </div>

</div>

<div id='flash'>
  <% flash.each do |key, value| -%>
  <div id='flash_<%= key %>'><%=h value[0] %></div>
  <% end %>
</div>