<!DOCTYPE html>
<html>
<head>
  <title>Essence</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="main_content">
    <%= yield %>
  </div>
</body>
</html>



