<!DOCTYPE html>
<html>
<head>
  <title>Essence</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <div id="essence_logo">
    <%= link_to "Essence", root_path %>
    </div>

    <% if signed_in? -%>
      <%= link_to t('.sign_out'), sign_out_path, :method => :delete %>
      <%= link_to 'library', sources_path %>
    <% end -%>
  </header>

  <%= yield %>
</body>
</html>
