<!DOCTYPE html>
<html>
<head>
  <title>Essence</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div id="essence_logo">Essence
    <%= link_to "", root_path %>
  </div>
</header>

<%= yield %>

</body>
</html>
